@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Go to Pages</h1>
  <form action='/cuisines' method='get'>
      <button class='btn btn-primary'>Cuisines</button>
  </form>
  <form action='/restaurants' method='get'>
      <button class='btn btn-primary'>Restaurant</button>
  </form>
</div>